extends layout

block content
  div(class="sign")
    div(class="main")
      h1= header
      form(action="/user/adminLogin",method='post')
        div(class="block")
          span= "用户名"
          input(type="text",name="username")
        div(class="block")
          span="密码"
          input(type="password",name="password")
        input(type='submit',class="button",value='登录')
