<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
           
<table class="layui-hide" id="test"></table>
<script src="/layui/layui.js"></script>
 
<script>
layui.use('table', function(){
  var table = layui.table;
  if(!sessionStorage.getItem('user')){
    layer.alert('登录过期,请重新登录！',function(){
      location.href = '/'
    })
  }
  table.render({
    elem: '#test'
    ,url:'/api/user/getAllUsers'
    ,page: true
    ,method: 'POST'
    ,headers: {token: JSON.parse(sessionStorage.getItem('user')).token}
    ,response: {
      statusName: 'status',
      statusCode: 200,
      msgName: 'msg',
      dataName: 'data',
    }
    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
    ,cols: [[
      {field:'_id', width:150, title: 'ID', sort: true}
      ,{field:'username', width:150, title: '用户名'}
      ,{field:'gmt_create', title: '创建日期', width: '30%', minWidth: 100}
      ,{field:'gmt_modified', title: '最后修改日期', sort: true}
      // ,{field:'score', title: '评分', sort: true}
      // ,{field:'classify', title: '职业'}
      // ,{field:'wealth', width:137, title: '财富', sort: true}
    ]]
    ,done: function(res,curr,count){
      console.log(res)
      if(res.status == 403){
        layer.alert('登录过期,请重新登录！',function(){
          sessionStorage.removeItem('user')
          location.href = '/'
        })
      }
    }
  });
});
</script>

</body>
</html>