*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  height: 100%;
}
.colorMain{
  color: #08979c;
}
.paddingX10{
  padding-left: 10px;
  padding-right: 10px;
}
.padding10X{
  padding-top: 10px;
  padding-bottom: 10px;
}
.marginX10{
  margin-left: 10px;
  margin-right: 10px;
}
.marginX20{
  margin-left: 20px;
  margin-right: 20px;
}
.margin20X{
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin10X{
  margin-top: 10px;
  margin-bottom: 10px;
}
.layui-form-label{
  width: 100px;
}
.main_content{
  padding: 30px 20px;
}